/* global style */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f8ff;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-42 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.btn-primary {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 12px 36px;
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* header section */

.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 150px;
  font-size: 34px;
  color: #4e47ff;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 150px;
}

.banner-title {
  color: #252432;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  max-width: 900px;
  margin-top: 150px;
}

/* action section */

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 115px auto;
}

.action img {
  border-radius: 48px;
}

.action .left {
  display: flex;
  flex-direction: column;
  gap: 23px;

  width: 517px;
}
.action p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
}

/* productive-users */

.productive-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 71, 255, 0.1);
  max-width: 856px;
  margin: 0 auto;
  padding: 50px 142px;
  border-radius: 24px;
}

.users-title {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 50px;
}

.productive-users .counts {
  display: flex;
  gap: 160px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.count-title {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #4e47ff;
}

.count-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.users-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 1140px;
  margin: 140px auto;
}

.feedbacks {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid #f2eded;
  border-radius: 14px;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reviewer img {
  border-radius: 50%;
}

.reviewer h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  opacity: 50%;
  color: #252432;
}
.reviewer h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 30%;
  color: #252432;
}

.starts {
  display: flex;
  gap: 4px;
}

/* focus section */

.focus {
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 92px;
}
.focus h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 71px;
}
.focus p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 50%;
}

.focus img {
  border-radius: 48px;
  margin-bottom: 71px;
}

.get-in-touch {
  display: flex;
  gap: 115px;
  max-width: 1140px;
  margin: 0 auto;
}
.touch-column {
  width: 50%;
  margin-top: 70px;
  margin-bottom: 70px;
}
.get-in-touch .left {
  display: flex;
  align-items: center;
}

.touch-column h2 {
  font-family: "Raleway", sans-serif;
  font-size: 97px;
  font-weight: 700;
  line-height: 120%;
}
.get-in-touch input[type="text"],
.get-in-touch input[type="email"],
.get-in-touch textarea {
  height: 70px;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 93%;
  border-radius: 5px;
  border: 1px solid #d6dded;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 150%;
  opacity: 50%;
  padding-left: 32px;
}
.get-in-touch textarea {
  height: 135px;
}
.get-in-touch label {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 120%;
}
.btn-submit {
  width: 100%;
  padding: 19px 36px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 72px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.footer h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #4e47ff;
  margin-top: 104px;
  margin-bottom: 8px;
}
.footer p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #8987a1;
  margin-bottom: 20px;
  max-width: 531px;
  text-align: center;
}
.footer ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin-bottom: 104px;
}
.footer a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #8987a1;
}

.btn-primary:hover {
  background-color: yellowgreen;
  padding: 12px 38px;
}

.btn-submit:hover {
  padding: 19px 36px;
}
