/* global style */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
body {
  font-family: "Raleway", sans-serif;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-42 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.btn-primary {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 12px 36px;
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 10px;
  border: none;
}

/* header section */

.header {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}

.logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 150px;
  font-size: 34px;
  color: #4e47ff;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 150px;
}

.banner-title {
  color: #252432;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  max-width: 900px;
}

/* action section */

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 115px auto;
}

.action img {
  border-radius: 48px;
}

.action .left {
  display: flex;
  flex-direction: column;
  gap: 23px;

  width: 517px;
}
.action p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(37, 36, 50, 0.5);
}

/* productive-users */

.productive-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 71, 255, 0.1);
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 142px;
  border-radius: 24px;
}

.users-title {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 50px;
}

.productive-users .counts {
  display: flex;
  gap: 160px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.count-title {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
  color: #4e47ff;
}

.count-text {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
